:host {
    .navigation {
        position: fixed;
        width: 100%;
        box-shadow: 1px 1px 2px gray;
        padding: 2% 30%;
        flex-flow: row; 
        top: 0;
        left: 0;
        // font-family: 
    }
}