@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

$font-primary: 'Roboto', 'sans serif';
$font-secondary: 'Montserrat', 'sans serif';
$standard-color: #4c4c4c;


.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.titles {
    font-family: $font-primary;
    font-weight: bold;
    color: #75aac0;
}

.data {
    font-family: $font-primary;
    font-style: italic;
    color: $standard-color;
}

.author {
    font-family: $font-primary;
    color: $standard-color;
}

.text {
    font-family: $font-secondary;
    color: $standard-color;
}